@charset "utf-8";
@use "components/card.scss";

$background: #e3f2c1;
$highlight-color: #c9dbb2;
$text-color: #aac8a7;

html {
  background-color: $background;
  color: $text-color;
}
body {
  margin: 0;
}

.app {
  height: 100vh;
  display: flex;
  align-items: center;
}
