@use "components/card.scss";
@use "components/profile.scss";

$background: #e3f2c1;
$highlight-color: #c9dbb2;
$text-color: #aac8a7;

html {
  background-color: $background;
  color: $text-color;
}

body {
  margin: 0;
}

.app {
  height: 100vh;
  display: flex;
  align-items: center;
}

.next {
  cursor: pointer;
  color: $text-color;
  margin-right: 20vw;
}
.previous {
  cursor: pointer;
  color: $text-color;
  margin-left: 20vw;
}
@media only screen and (max-width: 1000px) {
  .next {
    display: none;
  }
  .previous {
    display: none;
  }
}
