$profile-background: white;

.profile {
  margin: auto;
  position: fixed;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $profile-background;
  max-width: 400px;
  border: solid #000;
  border-radius: 0 0 10px 10px;
  border-width: 0 1px 1px 1px;
  gap: 10px;
  padding: 1rem;

  .likedCards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    width: 100%;
    overflow-y: auto;
    margin: 10px auto;

    li {
      list-style-type: none;
    }
  }
}
