$profile-background: #c9dbb2;

.profile {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $profile-background;
  max-width: 400px;
  height: 100%;
  border: solid #000;
  border-radius: 0 0 10px 10px;
  border-width: 0 1px 1px 1px;
  gap: 10px;
  padding: 10rem 1rem 1rem 1rem;

  .likedCards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    li {
      list-style-type: none;
    }
  }
}
